@use "sass:math";

@import "src/assets/scss/Style.module";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: all 0.3s ease 0s;
  @include adaptiveValue("padding", 40, 10);
  @include adaptiveValue("margin-top", 50, 10);
  &.headerScroll {
    margin: 0;
    @include adaptiveValue("padding", 20, 10);
    background-color: $darkColor;
  }

  &__container {
    display: grid;
    grid-template-columns: rem(300) 1fr rem(300);
    align-items: center;
    justify-content: center;
    @media (max-width: em(991.98)){
      grid-template-columns: auto 1fr auto;
    }
  }

  &__logo {
    position: relative;
    z-index: 5;
    transition: all 0.3s ease 0s;
    color: $mainColor;
    font-family: 'Retro';
    @media (any-hover: hover) {
      &:hover {
        color: $violetColor;
      }
    }
    @include adaptiveValue("font-size", 80, 40);
    letter-spacing: 0.27rem;
    @media (max-width: em(767.98)){
      letter-spacing: 0.07rem;
    }

    img {
      max-width: 100%;
    }
  }

  &__button {
    @media (max-width: em(767.98)){
        display: none;
    }
  }

  &__menu {
  }

  &__action {
    display: flex;
    gap: rem(16);
    align-items: center;
    position: relative;
    z-index: 5;
    margin-left: auto;
  }

  &__button {
  }
}

//====================================================================================================


//Burger

.iconMenu {
  display: none;
  @media (max-width: $tablet) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: $mainColor;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
  }
}


.menuOpen {
  .lock & {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
}

.iconMenu.menuOpen {
  span {
    width: 0;
  }

  &::before,
  &::after {
  }

  &::before {
    top: calc(50% - rem(1));
    transform: rotate(-45deg);
  }

  &::after {
    bottom: calc(50% - rem(1));
    transform: rotate(45deg);
  }
}

.active {

}
