@use "sass:math";

@import "src/assets/scss/Style.module";

.footer {
  @include adaptiveValue("margin-top", 50, 25);
  text-align: center;
  padding: rem(20) rem(0);
  background-color: #F5F5F7;
  &__container {
    
  }
}
